body{
    margin: 0;
    font-family: 'Lucida Grande';
}

a{
    text-decoration: none;
}

header{
    height: 65px;
    width: 100%;
    background-color:#ccffff;
    position: fixed;
    top: 0;
    z-index: 10;

}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo{
    width: 124px;
    height: 60px;
    margin-top: 5px;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
    margin-right: 25px;
}
.header-right a{
    line-height: 65px;
    padding: 0 25px;
    color: black;
    display: block;
    float: left;
    transition: all 0.5;
}

.top-site{
    padding: 180px 0 100px 0;
    background-image: url("1-fasilitas-kantor-sewa.jpg");
    background: cover;
    color: white;
    text-align: center;
}